---
http_interactions:
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/cities?q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - "<ZOMATO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"location_suggestions":[{"id":305,"name":"Denver, CO","country_id":216,"country_name":"United
        States","country_flag_url":"https:\/\/b.zmtcdn.com\/images\/countries\/flags\/country_216.png","should_experiment_with":0,"discovery_enabled":1,"has_new_ad_format":0,"is_state":0,"state_id":74,"state_name":"Colorado","state_code":"CO"},{"id":9311,"name":"Denver
        City, TX","country_id":216,"country_name":"United States","country_flag_url":"https:\/\/b.zmtcdn.com\/images\/countries\/flags\/country_216.png","should_experiment_with":0,"discovery_enabled":0,"has_new_ad_format":0,"is_state":0,"state_id":111,"state_name":"Texas","state_code":"TX"}],"status":"success","has_more":0,"has_total":0}'
  recorded_at: Mon, 04 Jun 2018 19:38:13 GMT
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/cuisines?city_id=305
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - "<ZOMATO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cuisines":[{"cuisine":{"cuisine_id":6,"cuisine_name":"Afghani"}},{"cuisine":{"cuisine_id":152,"cuisine_name":"African"}},{"cuisine":{"cuisine_id":1,"cuisine_name":"American"}},{"cuisine":{"cuisine_id":151,"cuisine_name":"Argentine"}},{"cuisine":{"cuisine_id":175,"cuisine_name":"Armenian"}},{"cuisine":{"cuisine_id":3,"cuisine_name":"Asian"}},{"cuisine":{"cuisine_id":131,"cuisine_name":"Australian"}},{"cuisine":{"cuisine_id":193,"cuisine_name":"BBQ"}},{"cuisine":{"cuisine_id":955,"cuisine_name":"Bagels"}},{"cuisine":{"cuisine_id":5,"cuisine_name":"B[...]
[...]
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/search?count=5&entity_id=305&entity_type=city&order=desc&sort=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - "<ZOMATO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results_found":6992,"results_start":0,"results_shown":5,"restaurants":[{"restaurant":{"R":{"res_id":16973776},"apikey":"<ZOMATO_API_KEY>","id":"16973776","name":"Park
        Burger","url":"https:\/\/www.zomato.com\/denver\/park-burger-south-pearl-platt-park?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","location":{"address":"1890
        South Pearl Street 80210","locality":"South Pearl-Platt Park","city":"Denver","city_id":305,"latitude":"39.6822750000","longitude":"-104.9804472222","zipcode":"80210","country_id":216,"locality_verbose":"South
        Pearl-Platt Park, Denver"},"switch_to_order_menu":0,"cuisines":"American,
        Burger","average_cost_for_two":35,"price_range":3,"currency":"$","offers":[],"opentable_support":0,"is_zomato_book_res":0,"mezzo_provider":"OTHER","is_book_form_web_view":0,"book_form_web_view_url":"","book_again_url":"","thumb":"https:\/\/b.zmtcdn.com\/data\/res_imagery\/16973776_CHAIN_643da22496188b0a6597d88022df52c9_c.png?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A","user_rating":{"aggregate_rating":"4.9","rating_text":"Excellent","rating_color":"3F7E00","votes":"257"},"photos_url":"https:\/\/www.zomato.com\/denver\/park-burger-south-pearl-platt-park\/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop","menu_url":"https:\/\/www.zomato.com\/denver\/park-burger-south-pearl-platt-park\/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop","featured_image":"https:\/\/b.zmtcdn.com\/data\/res_imagery\/16973776_CHAIN_643da22496188b0a6597d88022df52c9_c.png?output-format=webp","has_online_delivery":0,"is_delivering_now":0,"include_bogo_offers":true,"deeplink":"zomato:\/\/restaurant\/16973776","is_table_reservation_supported":0,"has_table_booking":0,"events_url":"https:\/\/www.zomato.com\/denver\/park-burger-south-pearl-platt-park\/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","establishment_types":[]}},{"restaurant":{"R":{"res_id":16973578},"apikey":"<ZOMATO_API_KEY>","id":"16973578","name":"Tocabe
        - An American Indian Eatery","url":"https:\/\/www.zomato.com\/denver\/tocabe-an-american-indian-eatery-berkeley?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","location":{"address":"3536
        West 44th Avenue, Denver 80211","locality":"Berkeley","city":"Denver","city_id":305,"latitude":"39.7765666667","longitude":"-105.0342555556","zipcode":"80211","country_id":216,"loca[...]
