---
http_interactions:
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/cities?q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - "<ZOMATO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"location_suggestions":[{"id":305,"name":"Denver, CO","country_id":216,"country_name":"United
        States","country_flag_url":"https:\/\/b.zmtcdn.com\/images\/countries\/flags\/country_216.png","should_experiment_with":0,"discovery_enabled":1,"has_new_ad_format":0,"is_state":0,"state_id":74,"state_name":"Colorado","state_code":"CO"},{"id":9311,"name":"Denver
        City, TX","country_id":216,"country_name":"United States","country_flag_url":"https:\/\/b.zmtcdn.com\/images\/countries\/flags\/country_216.png","should_experiment_with":0,"discovery_enabled":0,"has_new_ad_format":0,"is_state":0,"state_id":111,"state_name":"Texas","state_code":"TX"}],"status":"success","has_more":0,"has_total":0}'
  recorded_at: Mon, 04 Jun 2018 19:19:12 GMT
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/cuisines?city_id=305
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - "<ZOMATO_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cuisines":[{"cuisine":{"cuisine_id":6,"cuisine_name":"Afghani"}},{"cuisine":{"cuisine_id":152,"cuisine_name":"African"}},{"cuisine":{"cuisine_id":1,"cuisine_name":"American"}},{"cuisine":{"cuisine_id":151,"cuisine_name":"Argentine"}},{"cuisine":{"cuisine_id":175,"cuisine_name":"Armenian"}},{"cuisine":{"cuisine_id":3,"cuisine_name":"Asian"}},{"cuisine":{"cuisine_id":131,"cuisine_name":"Australian"}},{"cuisine":{"cuisine_id":193,"cuisine_name":"BBQ"}},{"cuisine":{"cuisine_id":955,"cuisine_name":"Bagels"}},{"cuisine":{"cuisine_id":5,"cuisine_name":"B[...]
[...]
